<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%= title %> me page</h1><br>

      <h2> About me:</h2><br>
      <p> <i><b>Hello, my name is Samra Mohamed,</b></i><br><br> 
        I'm a passionate software engineering student with a deep love for 
        solving complex problems through code. My journey into the world of 
        software development began with a simple curiosity that has since evolved 
        into a full-fledged passion. I thrive on the challenges that programming 
        presents and constantly seek opportunities to expand my knowledge and skill set.
        In addition to my technical skills, my nursing background has taught me to be a 
        team player who values collaboration and open communication. I understand the 
        importance of working together to achieve common goals, and I'm always eager to 
        learn from others and share my own insights. 
        
        The path to my software engineering career may be long but it is a journey I have 
        longed for even before my nursing career and a journey I'm excited about. I hope to 
        learn life-long skills that will open up more opportunities, connections, and experiences. 
        Let's connect!</p>

      <div class="img-content">
        <img src="https://i.pinimg.com/originals/14/2d/cb/142dcb99e5d53d04329c47ffef0e390e.jpg">
        
      </div>
      <br> <br>
      <button type="button">
      <i><a class="btn btn-xl btn-outline-dark" href="../public/Assets/Sam_Resume2023.pdf" download class="Download my resume">
        Download my resume here!</a></i></button>

    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  