<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>

      <!--HTML CONTENT-->
      <br>
      <p> <i><b>Welcome to my first ever portfolio</b></i><br><br>
         I'm excited to share this website as 
        a record of my learning experience as a software student. I aim to pursue this 
        field with the dedication of personal and professional growth. I plan to embrace all 
        the challenges I may face upon the way and I am committed to continually expanding my 
        knowledge and skills to become a proficient and innovative software engineer.  </p>

        <br> <br>

        <hr>

        <div class="div-contents" id="mylinks">

        <ul>
            
            <li><a href="/about">About me</a></li>
            <li><a href="/projects">My projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact me</a></li>
            
          </ul>

        </div>

    <hr>
    
      
      <!--HTML CONTENT-->

    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  