<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      <br><br>
      <!--HTML CONTENT-->
     <strong><i><p> Here are some projects I've worked on along the way.. </p></i></strong><br><br>

     <p>Here is a logo and a website I've created for an online arabic institution located in Cairo, Egypt: </p>
      <div class="scroll-container">
        <img src="/images/logo.jpg" alt="my web project" height="500px" width="500px">
        <img src="/images/projectweb.jpg" alt="My web project" height="500px" width="800px">
        <img src="/images/projectweb1.jpg" alt="My web project" height="500px" width="800px">
      </div>

      <hr>
<br> <br>

<p>Here is a GPA Calculator I build on visual studio:</p>
<div class="scroll-container">
  <img src="/images/GPAcal1.jpg" alt="GPA Calculator" height="500px" width="500px">
  <img src="/images/GPAcal2.jpg" alt="GPA Calculator" height="500px" width="800px">
  <img src="/images/GPAcal3.jpg" alt="GPA Calculator" height="500px" width="800px">
</div>
<br><br><hr>

<p>Here is a mobile app I'm currently working on. It is an app for women to track their health and wellness.</p>
<video width="500px" height="500px" controls="controls">
  <source src="/images/women.ly.mp4" type="video/mp4" />
 </video>


      <!--HTML CONTENT-->
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  