<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">My <%= title %> </h1>
      <br><br>

      <!--HTML CONTENT-->
      <div class="row">
        <div class="column">
          <img src="/images/backend.jpg" alt="backend" style="width:100%">
        </div>
        <div class="column">
          <img src="/images/frontend.jpg" alt="frontend" style="width:100%">
        </div>
        <div class="column">
          <img src="/images/fullstack.jpg" alt="fullstack" style="width:100%">
        </div>
      </div>
     <hr>
     <br>
     <p>I am able to provide services from the backend, frontend, and fullstack prespective. 
        However, I am also able to provide graphic designing services from logo to advertisement services. 
        Please free to <a href="/contact">contact me</a> for any inquiries.</p>
     

    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>